NameTag
{
	justify-content: center;
	align-items: center;

	/*.background
	{
		background-color: rgba(0, 0, 0, 0.5);
		//backdrop-filter: blur(50px);
		width: 1000px;
		height: 60px;
	}
	
	.avatar
	{
		width: 48px;
		height: 48px;
		margin-right: 8px;
		border-radius: 100%;
		background-size: cover;

		background-color: rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(50px);
	}*/

	.title
	{
		font-family: Poppins;
		font-weight: 600;
		font-size: 36px;
		white-space: nowrap;
		color: rgb(255, 255, 255);
		// mix-blend-mode: lighten;

		padding: 6px;
		padding-left: 25px;
		padding-right: 25px;
		border-radius: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(50px);

        opacity: 1;
        flex-shrink: 0;
        flex-grow: 0;
        position: relative;
	}
}