NameTag
{
	justify-content: center;
	align-items: center;
	//mix-blend-mode: lighten;

	.title
	{
		font-family: Poppins;
		font-size: 40px;
        font-weight: 650;
		white-space: nowrap;
		color: rgb(255, 255, 255);
		background-color: rgba(0, 0, 0, 0.7);
		border-radius: 40%;
		padding: 6px;
		padding-left: 28px;
		padding-right: 28px;
		backdrop-filter: blur(20px);
		//mix-blend-mode: lighten;
        
	}

	.avatar
	{
        background-color: rgba(0, 0, 0, 0.7);
		width: 64px;
		height: 64px;
		margin-right: 10px;
		border-radius: 100%;
		background-size: cover;
	}
}